<script id="resetAccountTemplate" type="text/template">

	<form class="form-horizontal form-app" method="POST">

		<h2 class="form-app-heading">Reset my password</h2>

		<div id="account-alert-container"></div>

		<% if (!passwordUpdated) { %>

			<fieldset>

				<div id="account-password-control" class="control-group">
					<input class="input-block-level" id="account-password" type="password" name="password" placeholder="Your password" data-field="password" />
				</div>

				<div id="account-password2-control" class="control-group">
					<input class="input-block-level" id="account-password2" type="password" name="password2" placeholder="Confirm your password" data-field="password2" />
				</div>

			</fieldset>

			<div class="alert">
				By clicking on "Reset my password" below, you will reset your password and this link will no longer work again.
			</div>

			<div>
				<button id="account-create-btn" type="submit" class="btn btn-large btn-primary">Reset my password</button>
			</div>

		<% } else { %>

			<div class="alert alert-success">
				Your password has been updated.
			</div>

			<div>
				<a href="<%= url %>login" class="btn btn-large btn-primary">Sign in</a>
			</div>

		<% } %>

	</form>

</script>
