<script type="text/template" id="appMenuView">

	<div class="navbar navbar-static-top">
		<div class="navbar-inner">

			<a class="brand" href="<%= url %>">Sample-App</a>

			<% if (typeof user.id != 'undefined') { %>
				<ul class="nav pull-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-bypass>
							<% if (user.gravatar_url) { %>
								<img src="<%= user.gravatar_url %>" class="gravatar" border="0" height="16" width="16" alt="" />&nbsp;
							<% } %>
							<%= user.email %>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="<%= url %>account"><%= __('My account') %></a></li>
							<li class="divider"></li>
							<li><a href="<%= url %>logout"><%= __('Sign Off') %></a></li>
						</ul>
					</li>
				</ul>
			<% } else { %>
				<div class="pull-right">
					<a class="btn btn-success" href="<%= url %>account/create" id="btn-sign-up"
					   data-title="<%= __('If you are new, start by creating a new account to see :title in action!', {':title': 'Sample-App'}) %>"
					   data-placement="bottom" data-trigger="manual"><%= __('Sign Up') %></a>
				</div>
				<div class="pull-right">
					<span class="navbar-text">&nbsp;<%= __('or') %>&nbsp;</span>
				</div>
				<div class="pull-right">
					<a class="btn" href="<%= url %>login"><%= __('Sign In') %></a>
				</div>
			<% } %>

		</div>
	</div>

</script>
