<script id="loginTemplate" type="text/template">

	<form class="form-horizontal form-app" method="POST">

		<h2 class="form-app-heading">Please sign in</h2>

		<div id="login-alert-container"></div>

		<fieldset>

			<div class="control-group">
				<input class="input-block-level" id="login-email"
					type="email" name="email" placeholder="Your email…" data-field="email" />
			</div>
			<div class="control-group">
				<input class="input-block-level" id="login-password"
					type="password" name="password" placeholder="Your password…" data-field="password" />
			</div>
			
		</fieldset>

		<div class="pull-right">
			<a href="<%= url %>account/create">I don't have account</a><br/>
			<a href="<%= url %>account/forgot_password">I forgot my password</a>
		</div>

		<div>
			<button id="login-btn" type="submit" class="btn btn-large btn-primary">Sign in</button>
		</div>

	</form>

</script>
