[submodule "vendor/kohana"]
	path = vendor/kohana
	url = http://github.com/kohana/kohana.git
[submodule "vendor/kohana-assets"]
	path = vendor/kohana-assets
	url = http://github.com/tchemineau/kohana-assets.git
[submodule "vendor/kohana-email"]
	path = vendor/kohana-email
	url = http://github.com/tchemineau/kohana-email.git
[submodule "vendor/kohana-mongodb"]
	path = vendor/kohana-mongodb
	url = http://github.com/tchemineau/kohana-mongodb.git
[submodule "vendor/kohana-password"]
	path = vendor/kohana-password
	url = http://github.com/tchemineau/kohana-password.git
[submodule "vendor/kohana-restful"]
	path = vendor/kohana-restful
	url = http://github.com/tchemineau/kohana-restful.git
[submodule "vendor/kohana-smarty3"]
	path = vendor/kohana-smarty3
	url = http://github.com/tchemineau/kohana-smarty3.git
[submodule "vendor/kohana-twig"]
	path = vendor/kohana-twig
	url = http://github.com/tchemineau/kohana-twig.git
