<script id="createAccountTemplate" type="text/template">

	<div>
		<h1 class="apptitle">Create new account</h1>
	</div>

	<div id="account-alert-container"></div>

	<form method="POST" class="form-horizontal">

		<fieldset>

			<legend>Mandatory information</legend>

			<div id="account-email-control" class="control-group">
				<label class="control-label" for="account-email">Email</label>
				<div class="controls">
					<input id="account-email" type="email" name="email" placeholder="Type your email address…" data-field="email" />
				</div>
			</div>

			<div id="account-password-control" class="control-group">
				<label class="control-label" for="account-password">Password</label>
				<div class="controls">
					<input id="account-password" type="password" name="password" placeholder="password" data-field="password" />
				</div>
			</div>
			
		</fieldset>

		<fieldset>

			<legend>Personal information</legend>

			<div id="account-firstname-control" class="control-group">
				<label class="control-label" for="account-firstname">Firstname</label>
				<div class="controls">
					<input id="account-firstname" type="text" name="firstname" placeholder="Type your firstname…" data-field="firstname" />
				</div>
			</div>

			<div id="account-lastname-control" class="control-group">
				<label class="control-label" for="account-lastname">Lastname</label>
				<div class="controls">
					<input id="account-lastname" type="text" name="lastname" placeholder="Type your lastname…" data-field="lastname" />
				</div>
			</div>

		</fieldset>

		<div class="form-actions">
			<button id="account-create-btn" type="submit" class="btn btn-primary">Create</button>
		</div>

	</form>

	<div>
		<a href="" class="btn"><i class="icon-arrow-left"></i></a>
	</div>

</script>
