{# Twig #}
<!DOCTYPE html>

<html>
<head>

	<meta charset="utf-8" />
	<title>{{ APP.name }}</title>
	<base href="{{ APP.url }}" />

	{% for script in APP.script.css -%}
		<link href="{{ script }}" rel="stylesheet" type="text/css" />
	{% endfor %}

	{% for script in APP.script.js -%}
		{%- if script.async == false -%}
			<script type="text/javascript" src="{{ script.src }}"
				{%- for key, value in script.data -%}
					{%- if key == 'id' -%}
						{{ '' }} id="{{ value }}"
					{%- else -%}
						{{ '' }} data-{{ key }}="{{ value }}"
					{%- endif -%}
				{%- endfor -%}
			></script>
		{%- endif %}
	{%- endfor %}

	<script type="text/javascript">
		var CONFIG = {
			name: '{{ APP.name }}',
			lang: '{{ APP.lang }}',
			url: '{{ APP.url }}',
			version: '{{ APP.version }}'
		};
	</script>

</head>

<body>

<div id="appprogress-container"><div id="appprogress"><i class="icon-refresh"></i></div></div>

