
body {
	background-image: url('../img/bg-noise-tile.png');
	color: #444;
}

#appnotification {
	display: none;
	left: 25%;
	position: absolute;
	text-align: center;
	top: 3px;
	width: 50%;
}
#appnotification .alert {
	-webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 10px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 10px rgba(0,0,0,0.1);
	padding: 5px 32px 5px 11px;
}

#appprogress-container {
	bottom: 0;
	position: absolute;
	width: 100%;
}
#appprogress {
	float: right;
	margin-bottom: 7px;
	margin-right: 10px;
	text-align: right;
	width: 50%;
}

#apppage-container {
	margin-top: 30px;
}

div[class^="form-app"], div[class*=" form-app"],
form[class^="form-app"], form[class*=" form-app"] {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #d4d4d4;
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	padding: 15px 29px 29px;
	margin: 20px auto 20px;
	background-color: #fff;
	width: 400px;
}
div[class^="form-app"] form, div[class*=" form-app"] form {
	margin-bottom: 0;
}
div[class^="form-app"] .form-appin-heading, div[class*=" form-app"] .form-appin-heading,
form[class^="form-app"] .form-appin-heading, form[class*=" form-app"] .form-appin-heading,
div[class^="form-app"] .checkbox, div[class*=" form-app"] .checkbox,
form[class^="form-app"] .checkbox, form[class*=" form-app"] .checkbox {
	margin-bottom: 20px;
}
div[class^="form-app"] input[type="text"], div[class*=" form-app"] input[type="text"],
form[class^="form-app"] input[type="text"], form[class*=" form-app"] input[type="text"],
div[class^="form-app"] input[type="email"], div[class*=" form-app"] input[type="email"],
form[class^="form-app"] input[type="email"], form[class*=" form-app"] input[type="email"],
div[class*=" form-app"] input[type="password"], div[class*=" form-app"] input[type="password"],
form[class*=" form-app"] input[type="password"], form[class*=" form-app"] input[type="password"] {
	font-size: 16px;
	height: auto;
	padding: 7px 9px;
}
div[class^="form-app"] .row, div[class*=" form-app"] .row,
form[class^="form-app"] .row, form[class*=" form-app"] .row {
	margin-bottom: 20px;
	margin-left: 0;
}

img.gravatar {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.jumbotron.masthead {
	margin-left: -20px;
	margin-right: -20px;
	padding-bottom: 10px;
	padding-top: 30px;
}
.jumbotron.masthead .features {
	background: #fff;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	margin-top: 40px;
	padding: 20px 0;
}
.jumbotron.masthead .features h2 {
	font-weight: 200;
}
.jumbotron.masthead .features p {
	font-size: 16px;
	line-height: 1.5;
}
/**
 * Images references:
 * https://www.iconfinder.com/icons/33148/document_file_g11834_paper_icon#size=128
 * https://www.iconfinder.com/icons/32765/blue_document_file_g12334_paper_icon#size=128
 * https://www.iconfinder.com/icons/33030/document_file_g14852_green_paper_icon#size=128
 */
.jumbotron.masthead .features .image {
	border: 0;
	height: 64px;
	margin: 0;
	margin-top: 20px;
	padding: 0;
	width: 64px;
}

.footer {
	padding: 10px;
}

