
body {
	background-image: url('../img/bg-noise-tile.png');
	color: #444;
	overflow-y: scroll;
}

/* Inline element */
.inline {
	display: inline-block;
}

/* Notifications */
#appnotification {
	display: none;
	left: 25%;
	position: absolute;
	text-align: center;
	top: 8px;
	width: 50%;
	z-index: 2000;
}
#appnotification .alert {
	padding: 5px 32px 5px 11px;
}

/* Page loading */
#appprogress-container {
	bottom: 0;
	position: absolute;
	width: 100%;
}
#appprogress {
	float: right;
	margin-bottom: 7px;
	margin-right: 10px;
	text-align: right;
	width: 50%;
}

/* Page container */
#apppage-container {
	padding-top: 20px;
}

/* Boxes */
.appbox {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #d4d4d4;
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	padding: 15px 29px 29px;
	margin: 20px auto 20px;
	background-color: #fff;
}
.appbox-heading,
.appbox .checkbox {
	margin-bottom: 20px;
	margin-top: 15px;
}
.appbox input[type="text"],
.appbox input[type="email"],
.appbox input[type="password"] {
	font-size: 16px;
	height: auto;
	padding: 7px 9px;
}
.appbox .row {
	margin-bottom: 20px;
	margin-left: 0;
}
.appbox-action {
	margin-top: 30px;
}
.appbox-action-secondary {
	float: right!important;
	margin-top: 15px;
}
.appbox-body {
	margin-top: 20px;
}
.appbox .alert:last-child {
	margin-bottom: 10px;
}

/* Social proof buttons from GitHub & Twitter */
.bs-docs-social {
        padding: 15px 0;
        text-align: center;
        background-color: #f5f5f5;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #ddd;
}
.bs-docs-social-buttons {
        margin-left: 0;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
}
.bs-docs-social-buttons li {
        display: inline-block;
        padding: 5px 8px;
        line-height: 1;
        *display: inline;
        *zoom: 1;
}

/* Footer */
.footer {
        padding: 20px;
}

/* Gravatar */
img.gravatar {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/* Masthead */
.masthead {
	background-color: transparent;
	margin-bottom: 0;
	padding: 0;
	text-align: center;
	text-shadow: 0 1px 3px rgba(255,255,255,.4), 0 0 30px rgba(255,255,255,.075);
}
.masthead h1 {
	font-size: 80px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
}
.masthead p {
	font-weight: 200;
	line-height: 1.25;
	margin-bottom: 20px;
}
.masthead .btn-download {
	padding: 19px 24px;
	font-size: 24px;
	font-weight: 200;
}
.masthead .features {
	background: #fff;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	margin-top: 20px;
	padding: 15px 0 20px;
}
.masthead .features h2 {
	font-weight: 200;
}
.masthead .features p {
	font-size: 14px;
	line-height: 1.5;
}
.masthead .features .image {
	border: 0;
	height: 64px;
	margin: 0;
	margin-top: 20px;
	padding: 0;
	width: 64px;
}
.masthead-links {
	margin: 0;
	list-style: none;
}
.masthead-links li {
	display: inline;
	padding: 0 10px;
	color: rgba(0,0,0,.25);
}

/* Override modal */
.modal-body {
	background-color: #f8f8f8;
}
.modal-footer {
	margin-top: 0;
}

/* Override navbar */
.navbar-default {
	border-color: #d4d4d4;
	-webkit-box-shadow: 0 1px 1px #eee, 0 1px 2px rgba(0, 0, 0, 0.065) !important;
	-moz-box-shadow: 0 1px 1px #eee, 0 1px 2px rgba(0, 0, 0, 0.065) !important;
	box-shadow: 0 1px 1px #eee, 0 1px 2px rgba(0, 0, 0, 0.065) !important;
}

/*
 * Images references:
 * https://www.iconfinder.com/icons/33148/document_file_g11834_paper_icon#size=128
 * https://www.iconfinder.com/icons/32765/blue_document_file_g12334_paper_icon#size=128
 * https://www.iconfinder.com/icons/33030/document_file_g14852_green_paper_icon#size=128
 */

