<script id="confirmAccountTemplate" type="text/template">

	<div class="container">
                <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">

	<% if (checked) { %>

		<div class="appbox">

			<% if (confirmed) { %>

				<h2 class="appbox-heading"><%= __('Your account has been confirmed') %></h2>

				<div class="alert alert-success">
					<%= __('You are now able to start using :title', {':title': title}) %>.
				</div>

				<div class="appbox-action appbox-action-primary">
					<a href="<%= url %>" class="btn btn-primary btn-lg" data-bypass><%= __('Start') %></a>
				</div>

			<% } else { %>

				<h2 class="appbox-heading"><%= __('Oups') %></h2>

				<div class="alert alert-danger">
					<%= __('We are not able to confirm your account.') %>
				</div>

			<% } %>

		</div>

	<% } %>

			</div>
		</div>
	</div>

</script>
