<script id="forgotPasswordFormViewTemplate" type="text/template">

	<form method="POST" role="form">

		<% if (!passwordSent) { %>

			<% if (!user.email) { %>

				<div id="account-email-control" class="form-group">
					<input class="form-control" id="account-email"
						type="email" name="email" placeholder="<%= __('Your email') %>…" data-field="email" />
				</div>

			<% } else { %>

				<input type="hidden" id="account-email" name="email" data-field="email" value="<%= user.email %>" />

			<% } %>

			<div class="alert alert-warning">
				<%= __('By clicking on &quot;Send&quot; below, you will receiving an email which gives you steps to reset your password.') %>
			</div>

			<div class="appbox-action appbox-action-primary">
				<button id="account-submit-btn" type="submit" class="btn btn-primary btn-lg"><%= __('Send') %></button>
			</div>

		<% } else { %>

			<div class="alert alert-success">
				<%= __('You will soon receive an email giving you steps to reset your password.') %>
			</div>

		<% } %>

	</form>

</script>
