<script id="forgotPasswordTemplate" type="text/template">

	<form class="form-horizontal form-app" method="POST">

		<h2 class="form-app-heading"><%= __('Reset my password') %></h2>

		<% if (!passwordSent) { %>

			<fieldset>

				<div id="account-email-control" class="control-group">
					<input class="input-block-level" id="account-email"
						type="email" name="email" placeholder="<%= __('Your email') %>…" data-field="email" />
				</div>

			</fieldset>

			<div class="alert">
				<%= __('By clicking on &quot;Send&quot; below, you will receiving an email which gives you steps to reset your password.') %>
			</div>

			<div>
				<button id="account-submit-btn" type="submit" class="btn btn-large btn-primary"><%= __('Send') %></button>
			</div>

		<% } else { %>

			<div class="alert alert-success">
				<%= __('You will soon receive an email giving you steps to reset your password.') %>
			</div>

		<% } %>

	</form>

</script>
