<script id="modifyAccountLayoutTemplate" type="text/template">

	<div class="container">
                <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">

	<div class="appbox">

		<h2 class="appbox-heading"><%= __('My account') %></h2>

		<ul class="nav nav-tabs">
			<li class="active">
				<a id="modify-account-profile-button" href="#modify-account-profile-panel" data-toggle="tab"><%= __('Profile') %></a>
			</li>

			<li>
				<a id="modify-account-password-tab" href="#modify-account-password-panel" data-toggle="tab"><%= __('Password') %></a>
			</li>

			<li>
				<a id="modify-account-authorizations-tab" href="#modify-account-authorizations-panel" data-toggle="tab"><%= __('Authorizations') %></a>
			</li>

			<li>
				<a id="modify-account-settings-tab" href="#modify-account-settings-panel" data-toggle="tab"><%= __('Other settings') %></a>
			</li>
		</ul>

		<div class="tab-content appbox-body">
			<div class="tab-pane active" id="modify-account-profile-panel">
				<div id="modify-account-profile-container"></div>
			</div>

			<div class="tab-pane" id="modify-account-password-panel">
				<div id="modify-account-password-container"></div>
			</div>

			<div class="tab-pane" id="modify-account-authorizations-panel">
				<div id="modify-account-authorizations-container"></div>
			</div>

			<div class="tab-pane" id="modify-account-settings-panel">
				<div id="modify-account-settings-container"></div>
			</div>
		</div>

	</div>

			</div>
		</div>
	</div>

</script>
