<script id="modifyAccountProfilFormViewTemplate" type="text/template">

	<form method="POST" role="form">

		<div id="account-firstname-control" class="form-group">
			<label for="account-firstname"><%= __('Firstname') %></label>
			<input class="form-control" id="account-firstname" type="text"
				name="firstname" placeholder="<%= __('Your firstname') %>…" data-field="firstname" />
		</div>

		<div id="account-lastname-control" class="form-group">
			<label for="account-lastname"><%= __('Lastname') %></label>
			<input class="form-control" id="account-lastname" type="text"
				name="lastname" placeholder="<%= __('Your lastname') %>…" data-field="lastname" />
		</div>

		<div id="account-gravatar-control" class="form-group">
			<label for="account-gravatar"><%= __('Gravatar email') %> (<%= __('Private') %>)</label>
			<input class="form-control" id="account-gravatar" type="text"
				name="gravatar" placeholder="<%= __('Your Gravatar email') %>…" data-field="gravatar_email" />
		</div>

		<% if (gravatar_url) { %>
			<div class="row">
				<div class="col-lg-2"><img src="<%= gravatar_url %>" class="gravatar" border="0" height="32" width="32" alt="" /></div>
				<div class="col-lg-10"><a href="https://gravatar.com/" target="_blank"><%= __('Change your avatar at Gravatar.com') %></a></div>
			</div>
		<% } %>

		<div class="appbox-action appbox-action-primary">
			<button id="account-create-btn" type="submit" class="btn btn-primary btn-lg"><%= __('Save') %></button>
		</div>

	</form>

</script>
