<script id="resetAccountTemplate" type="text/template">

	<div class="container">
                <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">

	<form class="appbox" method="POST" role="form">

		<h2 class="appbox-heading"><%= __('Reset my password') %></h2>

		<% if (!passwordUpdated) { %>

			<div id="account-password-control" class="form-group">
				<input class="form-control" id="account-password"
					type="password" name="password" placeholder="<%= __('Your password') %>" data-field="password" />
			</div>

			<div id="account-password2-control" class="form-group">
				<input class="form-control" id="account-password2"
					type="password" name="password2" placeholder="<%= __('Confirm your password') %>" data-field="password2" />
			</div>

			<div class="alert alert-warning">
				<%= __('By clicking on &quot;Reset my password&quot; below, you will reset your password and this link will no longer work again.') %>
			</div>

			<div class="appbox-action appbox-action-primary">
				<button id="account-create-btn" type="submit" class="btn btn-primary btn-lg"><%= __('Reset my password') %></button>
			</div>

		<% } else { %>

			<div class="alert alert-success">
				<%= __('Your password has been updated.') %>
			</div>

			<div class="appbox-action appbox-action-primary">
				<a href="<%= url %>login" class="btn btn-primary btn-lg"><%= __('Sign In') %></a>
			</div>

		<% } %>

	</form>

			</div>
		</div>
	</div>

</script>
