<script id="resetAccountTemplate" type="text/template">

	<form class="form-horizontal form-app" method="POST">

		<h2 class="form-app-heading"><%= __('Reset my password') %></h2>

		<div id="account-alert-container"></div>

		<% if (!passwordUpdated) { %>

			<fieldset>

				<div id="account-password-control" class="control-group">
					<input class="input-block-level" id="account-password"
						type="password" name="password" placeholder="<%= __('Your password') %>" data-field="password" />
				</div>

				<div id="account-password2-control" class="control-group">
					<input class="input-block-level" id="account-password2"
						type="password" name="password2" placeholder="<%= __('Confirm your password') %>" data-field="password2" />
				</div>

			</fieldset>

			<div class="alert">
				<%= __('By clicking on &quot;Reset my password&quot; below, you will reset your password and this link will no longer work again.') %>
			</div>

			<div>
				<button id="account-create-btn" type="submit" class="btn btn-large btn-primary"><%= __('Reset my password') %></button>
			</div>

		<% } else { %>

			<div class="alert alert-success">
				<%= __('Your password has been updated.') %>
			</div>

			<div>
				<a href="<%= url %>login" class="btn btn-large btn-primary"><%= __('Sign In') %></a>
			</div>

		<% } %>

	</form>

</script>
